<h3>Update Student</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Age</label>
            <input type="number" class="form-control" id="age" required [(ngModel)]="student.age" name="age">
        </div>

        <div class="form-group">
            <label for="name">Grade</label>
            <input type="number" class="form-control" id="grade" required [(ngModel)]="student.grade" name="grade">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
