<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Teacher List</h2>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Subject</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let teacher of teacher | async">
                    <td>{{teacher.firstName}}</td>
                    <td>{{teacher.lastName}}</td>
                    <td>{{teacher.age}}</td>
                    <td>{{teacher.subject}}</td>
                    <td>
                        <button (click)="deleteTeacher(teacher.id)" class="btn btn-danger">Delete</button>
                        <button (click)="updateTeacher(teacher.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
                        <button (click)="teacherDetails(teacher.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
